@(songs : Seq[models.Song])

<!DOCTYPE html>
<html lang="en">
<head>

  <div class="container">
    <div class="row">


      <div class="col-md-12">
        <h4>Registered Songs</h4>
        <div class="table-responsive">


          <table id="mytable" class="table table-bordred table-striped">

            <thead>

              <th><input type="checkbox" id="checkall" /></th>
              <th>Title</th>
              <th>Artist</th>
              <th>Album</th>
              <th>ID</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
            @for(user <- songs){
              <tr>
                <td><input type="checkbox" class="checkthis" /></td>
                <td>@user.title</td>
                <td>@user.artist</td>
                <td>@user.album</td>
                <td>@user.id</td>

                <td>
                  <button class="btn btn-primary btn-xs edit-button "  data-toggle="modal" data-target="#edit-song"
                    data-id="@user.id"
                    data-title="@user.title"
                    data-album="@user.album"
                    data-artist="@user.artist">
                  <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>

                <td>
                  <form method="POST" action="@routes.Songs.deleteSong(user.id)" accept-charset="UTF-8">
                  <button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Delete User" data-message="Are you sure you want to delete this user ?">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                  </button>
                </form>
                </td>
              </tr>

            }


          </table>

          <div class="clearfix"></div>
          <ul class="pagination pull-right">
            <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</head>
<body>

</body>




</html>






