@(songs : Seq[models.Song])


@main("Welcome to my First app") {
<!DOCTYPE html>
  <html>

    <div><!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-md pull-right" tabindex="7" data-toggle="modal" data-target="#myModal">
        Add Song
      </button>
    </div>

    @views.html.CRUD.listSongs(songs)



      <!-- Crud and confirmation imports -->
    @views.html.CRUD.deleteConfirmationModal()
    @views.html.CRUD.addSongModal()
    @views.html.CRUD.editSong()


  </html>
}

